

<%= image_tag("background/me.jpg", id: "face") %>
<h1 id="contact_tag"> About me. </h1>
  <p id="contact_paragraph_1">Beth Tabler doesn't do things by half.  One day, she decided she wanted to be a landscape architect, so she went to school for eight years to make it happen.  Another day, she decided that landscape architecture kinda sucked, so she quit.  About the same time, she decided that Las Vegas wasn't very awesome; that's why she lives in Portland now.  </p>

  <p id="contact_paragraph_body">Beth has also decided she likes building websites.  You probably guessed that, because you're looking at one of her websites now.  Beth likes photography a lot, too, but you're a smart person so you probably have already figured out that pattern.  How do I know you're smart?  You're looking at an art gallery online and are reading all about the artist.  You're definitely smart, and probably witty and sophisticated; people enjoy your company.</p>

  <p id="contact_paragraph_body">Beth also likes sewing, cooking, drawing, and reading.  You might not have known that, because she doesn't have websites about any of those things, yet.  But she probably will.  That's because she likes building websites and, as I mentioned earlier, Beth Tabler doesn't do things by half.  </p>
  <br>
  <br>
  <br>
<!-- Issues

be able to delete photos from existing albums
portrait views in slide show
 -->


