

<%= image_tag("background/me.jpg", id: "face") %>
<h1 id="contact_tag"> About me. </h1>
  <p id="contact_paragraph_1">I don't tend to do things by half.  One day, I decided I wanted to be a landscape architect, so I went to school for eight years to make it happen.  Another day, I decided that landscape architecture kinda sucked, so I quit.  About the same time, I decided that Las Vegas wasn't very awesome; that's why I live in lovely Portland now.  </p>

  <p id="contact_paragraph_body">I have also decided I love to building websites.  You probably guessed that, because you're looking at one of my websites now.  I also like photography a lot, too, but you're a smart person so you probably have already figured out that pattern.  How do I know you're smart?  You're looking at an art gallery online and are reading all about the artist.  You're definitely smart, and probably witty and sophisticated; people enjoy your company.</p>

  <p id="contact_paragraph_body">I also like sewing, cooking, drawing, and reading.  You might not have known that, because I don't have websites about any of those things, yet.  But I probably will.  That's because I enjoy building websites and, as I mentioned earlier, I don't do things by half.  </p>
  <br>
  <br>
  <br>


