<article id="header_tag">
  <div id="information">
    <h1 id="contact_tag">Find Me.</h1>
    <p id="contact_paragraph"> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" </p>
      <ul>
        <li class="link_li">View some of my photos on <a href="http://www.pixoto.com/elizabeth.tabler"><strong>Pixoto.</strong></li>
        <li class="link_li">Here is my <strong>facebook.</strong></li>
        <li class="link_li">And <a href="https://twitter.com/BethTabler"><strong>Twitter.</strong></li>
        <li class="link_li">I also <a href="http://dribbble.com/BethTabler"><strong>dribble.</strong></li>
        <li class="link_li"><strong>Behance</strong> is pretty cool also.</li>
      </ul>
    <p id="contact_paragraph"> Or directly email me at<strong> Beth at beforewego dot com.</strong> </p>
  </div>
</article>  



