
<p>
  <%= render partial: 'photos/slideshow', locals: { photos: Album.first.photos } %>
</p>


<div id="thumbail_link_section">
  <% @albums.each_with_index do |album, i| %>
    <%= link_to(image_tag(album.icon, class: "thumbnail #{(i + 2) % 3 == 0 ? 'center_column' : '' }"), album) %>
  <% end %>
</div>

