<% content_for :article_header do %>
  <hgroup>
    <h1 class="slabtext">Beth Tabler</h1>
    <h2>Photography</h2>
  </hgroup>
<% end %>

<div id="container">
  <blockquote id="nature_quote">There are no bad pictures; that's just how your face 
  looks sometimes.
    <h4 id = "tag">Abraham Lincoln</h4>
  </blockquote>
  <div class="line-separator"></div> 
</div>


<article>
  <h1 id="album_callout">Galleries</h1>
  <div id="thumbnail_link_section">   
    <% @albums.each do |album| %>
      <div class="thumbnail_container">
        <p class="name"><%= album.name %></p>
        <%= link_to(image_tag(album.icon, class: "thumbnail"), album) %>
      </div>
    <% end %>
  </div> 
</article>
  

