
<h1> 
  <%= @album.name %>
</h1>

<h2>
  <%= @album.description %>
</h2>

<h3>
  <% @album.photos.each do |photo| %>
  <%= link_to photo.name, photo %>
  <% end %>
</h3>  

<%= link_to 'Back to Albums', albums_path %>


