<p>
  <%= render partial: 'photos/slide_nav', locals: { photos: @album.photos } %>
  <%# render partial: 'photos/slide_nav', locals: { photos: @album.photos } %>
</p>

  <caption><%= @album.name %></caption>
  <h4> <%= @album.description %> </h4>
  <%= link_to 'Back to Albums', albums_path %>
