
<body>
  <div id="slidshow">
    <img>
      <%= render partial: 'photos/slideshow', locals: { photos: @album.photos } %>
    </img>
      <caption><%= @album.name %></caption>
      <h4> <%= @album.description %> </h4>
    <link><%= link_to 'Back to Albums', albums_path %></link> 
  </div
</body
