<p>
  <%= render partial: 'photos/slide_nav', locals: { photos: @album.photos } %>
  <%# render partial: 'photos/slide_nav', locals: { photos: @album.photos } %>
</p>

  <%= link_to 'Back to Albums', albums_path %>
