
<h1> 
  <%= @album.name %>
</h1>

<h2>
  <%= @album.description %>
</h2>

<h3>
  <%= render partial: 'photos/slideshow', locals: { photos: @album.photos } %>
</h3>  

<%= link_to 'Back to Albums', albums_path %>


