<div id="slide_nav">
  <% photos.each do |photo| %>
    <%= image_tag(photo.thumbnail) %>
  <% end %>
</div>

<script>
    $(function(){
      $("#slide_nav").slidesjs({
        pagination: {
          active: true,
            // [boolean] Create pagination items.
            // You cannot use your own pagination. Sorry.
          effect: "slide"
            // [string] Can be either "slide" or "fade".
        },
        navigation: {
          active: true,
            // [boolean] Generates next and previous buttons.
            // You can set to false and use your own buttons.
            // User defined buttons must have the following:
            // previous button: class="slidesjs-previous slidesjs-navigation"
            // next button: class="slidesjs-next slidesjs-navigation"
          effect: "slide"
            // [string] Can be either "slide" or "fade".
          },
        width: 300,
        height: 300
      });
    });
  </script>