#slides{
  margin: 0 auto;
  float: left;
  height: 300px;
  width: 1140px;
}

/*text stuff**/
/*.slabtext {
  font-size: 120px;
  font-family:'Merriweather Sans', sans-serif; 
  font-weight: 700;
  color: white; 
  word-spacing: -5px;
  letter-spacing: 0px;
}

header h1 {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  font-family: 'Merriweather Sans', sans-serif; 
  color: #808080;
  display: inline;
  padding-left: 15px;
  padding-top: 20px;
}*/


#thumbnail_link_section {
  width: 1140px;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 15px;
}

img.thumbnail {
  padding-top: 15px;
  display: inline;
  width: 32%;
  height: 360px;
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

img.thumbnail.center_column {
  padding: 0 18px
}

img.thumbnail:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
