#album_callout {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  font-family: 'Merriweather Sans', sans-serif; 
  color: #808080;
  display: block;
  background-image:url('Background/menu-halo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1500;
}


#slides{
  margin: 0 auto;
  float: left;
  height: 300px;
  width: 1140px;
  padding-bottom: 100px;
  padding-top: 70px;
}

#thumbnail_link_section {
  width: 1140px;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.thumbnail_container {
  position: relative;
  display: inline;
}

p.name {
  bottom: 5px;
  left: 5px;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Merriweather Sans', sans-serif; 
  color: white;
  display: inline;
  position: absolute;
  z-index: 100;
}

img.thumbnail { 
  display: inline;
  margin-bottom: 15px;
  width: 32%;
  height: 300px;
  filter: url(filters.svg#grayscale); 
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); 
}

div.thumbnail_container.center_column {
  margin: 0 18px 10px;
}

img.thumbnail:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
