/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* Body */
body {
  background-color:#000000;
}

/* header */
#header_background {
    height: 75px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #38342b;
}

#header_container {
  width: 1140px;
  margin: auto;
  height: 75px; 
  border-bottom: 3px solid white;
}

#header_container h1 {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  color: white;
  float: left;
  padding-left: 10px;
  padding-top: 5px;
  text-align: justify;
  letter-spacing: -2px;
}

#header_container nav {
  width: 600px;
  height: 75px;
  float: right;
  padding-top: 35px;
}

#header_container nav li {
  display: inline;
  font-size: 20px;
  font-weight: 300;
  font-family: Arial, sans-serif; 
  color: #808080;
  float: right;
  padding-right: 5px;
  padding-left: 5px;
}

#header_container.break {
  display: inline;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Merriweather Sans', sans-serif; 
  color: white;
  text-align: right;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

/*Footer*/

footer{
  height: 60px;
  bottom: 0;
  width: 1024px;
  margin: auto;
}

#social_media {
  float: right;
}

#social_media img {
  display: inline;
}

footer p {
  float: left;
  font-size: 10px;
  font-family: 'Merriweather Sans', sans-serif; 
  color: #808080;
  width: 400px;
  display: inline;
}

/*General Case Styling*/

form {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  position:relative;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #60DFE5;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button {
  padding:5px;
  background-color: #808080;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
}

/*links*/
  a:link {color:white;}      /* unvisited link */
  a:link { text-decoration: none }
  a:visited {color:white;}  /* visited link */
  /*a:hover {background-color:#808080;}  /* mouse over link */*/
  a:active {color:#black;}  /* selected link */
