/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* Body */
body {
  background-color:#000000;
}

/* Wrapper */
#wrapper {
    width: 1140px;
    margin: 0px auto;
    height: 1956px;
}

/* Header */
header {
  width: 100%;
  height: 170px;
}

.slabtext {
  font-size: 120px;
  font-family:'Merriweather Sans', sans-serif; 
  font-weight: 700;
  color: white; 
  word-spacing: -5px;
  letter-spacing: 0px;
}

header h1 {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  font-family: 'Merriweather Sans', sans-serif; 
  color: #808080;
  display: inline;
  padding-left: 15px;
  padding-top: 20px;
}

header nav {
  width: 600px;
  height: 40px;
  float: left;
}

header nav ul {
  float: left;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header nav li {
  display: inline;
  font-size: 20px;
  font-weight: 300;
  font-family: Arial, sans-serif; 
  color: #808080;
  text-align: right;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}

.break {
  display: inline;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Merriweather Sans', sans-serif; 
  color: #808080;
  text-align: right;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

/*line seperator*/
.line-separator{
  height: 1px;
  background: #717171;
  border-bottom: 1px solid #808080;
}

/*links*/
  a:link {color:white;}      /* unvisited link */
  a:link { text-decoration: none }
  a:visited {color:white;}  /* visited link */
  a:hover {background-color:#808080;}  /* mouse over link */
  a:active {color:#black;}  /* selected link */

footer{
  height: 60px;
  bottom: 0;
  width: 1024px;
}

#social_media {
  float: right;
}

#social_media img {
  display: inline;
}

footer p {
  float: left;
  font-size: 10px;
  font-family: 'Merriweather Sans', sans-serif; 
  color: #808080;
  width: 400px;
  display: inline;
}

/*General Case Styling*/

form {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  position:relative;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #60DFE5;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button {
  padding:5px;
  background-color: #808080;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
}
