body {
  background-color: black;
  margin: 0;
  padding: 0;
}

/* Header */
#main_header {
  background: #fff;
  box-shadow: 0 1px 12px -3px rgba(0,0,0,0.3);
  border-bottom: 1px #ddd;
  height: 45px;
  left: 0;
  position: fixed !important;
  right: 0;
  top: 0;
  width: 1440px;
  z-index: 100000;
  /*-moz-box-shadow: 0 1px 12px -3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 12px -3px rgba(0,0,0,0.3);*/
}

header h3 {
  border-left: 1px solid #ccc;
  cursor: pointer;
  float: left;  
  font-size: 21px!important;
  line-height: 21px!important;  
  margin-left: 10px; 
  margin-top: 10px;
  padding-left: 10px;
  width: 278px;
}

header nav {
  float: left; 
  height: 22px;
  margin-top: 2px;
  width: 350px; 
}

header nav ul {
}

header nav li {
  color: #333;
  display: inline;
  float: left;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 10px;
  height: 17px;
  line-height: 10px;
  overflow: hidden;
  padding: 2px 6px;
  text-align: left;
  text-transform: uppercase; 
  text-decoration: none;
  width: 60px;
}

header nav li.selected a {
  background: #E2E2E2;
  border-radius: 10px;
  color: #333;
}

#social_media {
  height: 22px;
  float: right;
  margin-bottom: 8px;
}

#social_media img {
  display: inline;  
  height: 40px;
  width: 40px;
}

.social_media:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

/* Wrapper */
article {
  margin: 45px 0 0;
  padding: 0;
}
#wrapper {
  margin: 0 auto;
  width: 1140px;
}

footer{
  bottom: 0;
  height: 60px;
  width: 1024px;
}

footer p {
  color: #808080;
  display: inline;
  float: left;
  font-size: 10px;
  font-family: Arial,Verdana,Helvetica,sans-serif; 
  width: 400px; 
}

/*.break {
  display: inline;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Merriweather Sans', sans-serif; 
  color: #808080;
  text-align: right;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}*/

/*line seperator*/
/*.line-separator{
  height: 1px;
  background: #12685D;
  border-bottom: 1px solid #808080;
}*/




/*General Case Styling*/

/*links*/
  a:link {color:  black; }      /* unvisited link */
  a:link { text-decoration: none; }
  a:visited {color: black; }   /*visited link */
  a:hover {background-color: none; }  /* mouse over link */
  a:active {color: black; }  /* selected link */


/*form {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  position:relative;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #60DFE5;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}*/

/*button {
  padding:5px;
  background-color: #808080;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
}*/